<h1><%= @article.title %></h1>
<p><%= @article.body %></p>


<ul>
  <%= link_to "Edit", edit_article_path(@article) %></li>&nbsp;|&nbsp;<%= link_to "Destroy", article_path(@article), method: :delete, data: {confirm: "Are you Sure to delete ?!"} %>&nbsp;|&nbsp;<%= link_to "Articles", root_path %>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>



<h2>Add Comment:</h2>
<%=  render 'comments/form' %>
